body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
}

.main_container {
    background-color: rgb(235, 241, 243);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

h1 {
    color: #0066cc;
    text-align: center;
    margin-bottom: 20px;
}

.main_container_header {
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #0066cc;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button, .home-button, .book-button, .back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.book-button, .back-button {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.booking-code {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.booking-code h2 {
    color: #0066cc;
    margin: 10px 0;
}

.manage-booking {
    text-align: center;
    display: block;
    width: fit-content;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

.error {
    background-color: #ffeeee;
    text-align: center;
}

.airport-flights ul {
    list-style-type: none;
    padding: 0;
}

.airport-flights li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.messages .alert {
    background-color: #ffeeee;
    color: red;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    font-weight: 550;
    color: #0066cc;
}

.link:visited {
    color: #0066cc; 
}

table {
    border-radius: 10px;
    overflow: hidden;
}