{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline Reservation System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main_container">
        <h1>Welcome to the Airline Reservation System</h1>
        <h2 class="main_container_header">Available Flights </h2>
        <table>
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>
                        <a href="{% url 'airport_detail' flight.origin.code %}" class="link">
                            {{ flight.origin.code }} ({{ flight.origin.city }})
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'airport_detail' flight.destination.code %}" class="link">
                            {{ flight.destination.code }} ({{ flight.destination.city }})
                        </a>
                    </td>
                    <td>{{ flight.duration }} min</td>
                    <td>
                        <a href="{% url 'flight_detail' flight.id %}" class="link">
                            View
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{% url 'manage_booking' %}" class="manage-booking">Manage Booking</a>
        </div>
    </div>
</body>
</html>